.header {
  padding-left: 10px;
  color: blue; }

.text {
  width: 70%; }

#AMERICA {
  float: left;
  width: 40%;
  margin-bottom: 10%;
  margin-left: 5%; }

#AMERICA .text {
  font-size: 90%; }

#SAMERICA {
  float: left;
  width: 40%;
  margin-bottom: 10%;
  margin-left: 5%; }

#SAMERICA object {
  margin-left: 20%; }

#SAMERICA .text {
  width: 100%; }

#MIDDLE_EAST {
  float: left;
  width: 50%;
  margin-left: 5%;
  margin-bottom: 10%; }

#MIDDLE_EAST .text {
  width: 70%; }

#SASIA {
  float: left;
  width: 40%;
  margin-left: 5%;
  margin-bottom: 10%; }

#SASIA .text {
  width: 43%; }

#AFRICA {
  float: left;
  width: 40%;
  margin-left: 5%;
  margin-bottom: 10%; }

#EUROPE {
  float: left;
  width: 50%;
  margin-left: 5%;
  margin-bottom: 15%; }

#EUROPE object {
  margin-top: 15%; }

#EASIA {
  float: left;
  width: 50%;
  margin-left: 5%;
  margin-top: 5%; }

#EASIA .text {
  width: 60%; }

#AUSTRALIA {
  float: left;
  width: 45%;
  margin-top: 5%; }

#AUSTRALIA .text {
  width: 26%; }

.primaryEd {
  color: #f9ed32; }

.secondary_ed {
  color: #ff6e6e; }

.YA_literacy {
  color: #27aae1; }

.unemployment {
  color: #50c956; }

@media screen and (max-width: 400px) {
  #stats p {
    font-size: 15px; }

  #stats {
    margin-left: 10px; }

  #unicef {
    font-size: 50%; }

  #title {
    width: 40%; }

  #nav {
    margin-top: 15%; } }
@media screen and (max-width: 600px) {
  #stats p {
    font-size: 23px; }

  #stats {
    margin-left: 18%; }

  #unicef {
    font-size: 90%; }

  #title {
    width: 40%; }

  #nav {
    margin-top: 10%; } }
@media screen and (min-width: 600px) {
  #stats p {
    font-size: 30px; }

  #stats {
    margin-left: 15%; }

  #unicef {
    font-size: 100%; }

  #title {
    width: 40%; }

  #nav {
    margin-top: 10%; } }
@media screen and (min-width: 750px) {
  #stats {
    margin-left: 22%; }

  #stats p {
    font-size: 40px; }

  #unicef {
    font-size: 105%; }

  #firstRow {
    width: 43%;
    float: left;
    margin-bottom: 0px; }

  #secondRow {
    width: 43%;
    float: right;
    margin-bottom: 0px; }

  #nav {
    margin-top: 0%; }

  #title {
    width: 37%; }

  #nav {
    margin-top: 3%; } }
.hide {
  visibility: hidden; }

.visible {
  visibility: visible !important; }

object {
  pointer-events: none; }

body {
  color: white;
  background-color: #2B2B2B;
  border: 10px solid #C98727;
  font-family: Helvetica, sans-serif;
  box-shadow: 5px 5px 0px 9px #68471B inset; }

#title {
  margin-top: 60px;
  margin-left: 30%;
  margin-bottom: 50px; }

#book {
  width: 15%;
  float: left;
  position: absolute;
  left: 12%;
  top: 20%; }

#paper {
  width: 10%;
  float: right;
  position: absolute;
  right: 10%;
  top: 17%; }

#firstRow object {
  padding-right: 20px;
  width: 60%; }

#secondRow object {
  padding-right: 20px;
  width: 60%; }

#firstRow {
  margin-bottom: 20px;
  visibility: hidden;
  margin-left: 6%; }

#secondRow {
  margin-bottom: 10px;
  visibility: hidden;
  margin-left: 6%; }

#nav {
  width: 70%;
  margin-left: 16%; }

#stats p {
  display: inline;
  align-content: center;
  padding-right: 7%; }

#stats {
  margin-bottom: 10%;
  margin-top: 10%;
  width: 100%; }

#instructions {
  text-align: center;
  font-size: 125%;
  font-weight: lighter;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 7%; }

#instructions:hover {
  color: #27aae1; }

#eraser {
  width: 35%;
  margin-left: 50%; }

#unicef {
  text-align: center;
  visibility: hidden; }

/*# sourceMappingURL=main.css.map */
