@import 'modules/_vars';
@import 'modules/_body';
@import 'modules/_mediaqueries';

.hide {
   visibility: hidden;
  }
  
.visible {
    visibility: visible !important;
  }

  object { 
    pointer-events: none; 
  }

  body{
    color: $font-color;
    background-color: #2B2B2B;
    border: 10px solid #C98727;
    font-family: Helvetica, sans-serif;
    box-shadow: 5px 5px 0px 9px #68471B inset;
  }
    
    #title
  {
    margin-top: 60px;
    margin-left: 30%;
    margin-bottom: 50px;
  }

  #book {
    width: 15%;
    float: left;
    position: absolute;
    left: 12%;
    top: 20%;
  }

  #paper {
    width: 10%;
    float: right;
    position: absolute;
    right: 10%;
    top: 17%;
  }

 #firstRow object
  {
    padding-right: 20px;
    width: 60%;
  }

  #secondRow object
  {
    padding-right: 20px;
    width: 60%;
  }

  #firstRow
  {
    margin-bottom: 20px;
    visibility: hidden;
    margin-left: 6%;
  }

  #secondRow
  {
    margin-bottom: 10px;
    visibility: hidden;
    margin-left: 6%;
  }

  #nav
  {
    width:70%;
    margin-left: 16%;
  }

  #stats p
  {
    display: inline;
    align-content: center;
    padding-right: 7%;
  }

  #stats
  {
    margin-bottom: 10%;
    margin-top: 10%;
    width: 100%;
  }

  #instructions
  {
    text-align: center;
    font-size: 125%;
    font-weight: lighter;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 7%;
  }


#eraser {
  width: 35%;
  margin-left: 50%;
}

#unicef
{
  text-align: center;
  visibility: hidden;
}