$background-image: "images/svg_bg.svg";
$fonts: "Arial";
$font-color: white;

.text
{
    width: 50%;
}

#AMERICA
{
    float: left;
}

#SAMERICA
{
    float: left;
}

#MIDDLE_EAST
{
    float: left;
}
#SASIA
{
    float: left;
}
#AFRICA
{
    float: left;
}
#EUROPE
{
    float: left;
}
#EASIA
{
    float: left;
}
#AUSTRALIA
{
    float: left;
}